
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin: 20px;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input{
  padding: 15px;
  margin: 10px;
}

button{
  width: 25%;
  height: 30px;
  font-weight: bolder;
  background-color: green;
  color: white;
}
