<div class="main">


 <div class="main-div">
  <div>
  <h1>{{studentTitle}} Student</h1>
    <form>
      <input placeholder="Id Number" name="idNumber" [(ngModel)]="idNumber"><br>
      <input placeholder="First Name" name="firstName" [(ngModel)]="firstName"><br>
      <input placeholder="Last Name" name="lastName" [(ngModel)]="lastName"><br>
      <input placeholder="Email" name="email" [(ngModel)]="email"><br>
      <input placeholder="Phone Number" name="phoneNumber" [(ngModel)]="phoneNumber"><br>
      <button (click)="submit()" class="button btn">Submit </button>
    </form>
  </div>
  </div> 
</div>